*{
  color: white;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.url{
  text-decoration: none;
  width: 221px;
}

.navbar{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
  background-color: darkred;
  width: 100%;
  box-shadow: 0px 0px 100px black;
}

.navbar ul{
  display: flex;
  text-align: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
}

.navbar a{
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
  color: white;
  font-size: 40px;
  border-radius: 25px;
}

.navbar a:hover{
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.hero-section{
  display: flex;
  flex-direction: row;
  padding-top: 8%;
  width: 80%;
  margin-left: 10%;
}

.hero-section-left h1{
  font-size: 120px;
  color: white;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
}

.hero-section-left{
  display: flex;
  flex-direction: column;
}

.hero-section-left p{
  color: white;
  font-size: 27px;
  text-align: justify;
  line-height: 35px;
  width: 80%;
}

.join-button{
  padding: 18px 35px;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  background-color: darkred;
  color: white;
  
}

.join-button a{
  text-decoration: none;
}

.join-button:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  background-color: white;
  color: darkred;
  cursor: pointer;
}

.hero-section-right{
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.hero-section-right img{
  border-radius: 15px;
  height: 30vw;
  width: 100%;
  border: none;
}

@media (max-width: 640px) { 
  .hero-section-right{
    display: none;
  }
  .about p{
    width: auto;
  }
}


@media(max-width: 640px) {
  .hero-section-left h1{
    margin-bottom: 20px;
    font-size: 40px;
  };
  
}
@media(max-width: 640px){
  .hero-section-left p{
    font-size: 16px;
  };
}
@media (max-width: 640px) {
  .hero-section{
    padding: 0;
    width: 80;
  } 
  .hero-section-left{
    width: 80vw;
    margin: 0;
    padding: 0;
  }
  .hero-section-left .join-button{
    margin-left: 0vw;
    width: 80vw;
    font-size: 30px;
    padding: 10px 10px;
  }
} 
.pictures{
  display: flex;
  flex-grow: row;
  justify-content: space-between;
}

.about-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  padding-top: 6%;
}

.about-section h1{
  padding: 0px 0px;
  font-size: 60px;
  font-weight: bold;
}

.about-section img{
  height: 12vw;
  border-radius: 20px;
}

.about-section p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

@media (max-width: 640px) { 
  .about-section h1{
    font-size: 40px;
    text-align: left;
  }
  .about-section p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
}

.raiding-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}


.raid-days{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
}


.raiding h1{
  padding-top: 60px;
}

.raiding p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

@media (max-width: 640px) {
  .raiding
  {
    display: flex; 
    flex-wrap: wrap;
    width: 80vw;
  }
  .raiding h1{
    font-size: 40px;
  }
  .raiding p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
}


@media (max-width: 640px){
  .raid-days{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 80vw;
  }
  .raid-days div{
    width: 80vw;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .raid-days h2, h3, p{
    margin: 0;
    padding: 0;
  }
}

.raid-days div{
  margin: 15px 10px;
  font-size: 25px;
  border: 1px solid darkred;
  border-radius: 10px;
  padding: 15px;
}

.raid-days div p{
  font-size: 20px;
  text-align: center;
}

h1{
  font-size: 60px;
  font-weight: bold;
}

.recruitment-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}


.recruitment-section .join-button{
  margin-top: 100px;
}

.recruitment-section h1{
  padding-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

.recruitment-section p{
  font-size: 25px;
  line-height: 40px;
  text-align: left;
}

.recruitment-section .join-button{
  margin-top: 40px;
  margin-left: 640px;
  width: 300px;
}
@media (max-width: 640px){
  .recruitment-section p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
  .recruitment-section h1{
    width: 80vw;
    font-size: 40px;
  }
}
@media (max-width: 640px){
  .recruitment-section .join-button{
    margin-left: 0vw;
    width: 80vw;
    font-size: 30px;
    padding: 10px 10px;
  }
}

/* PLATFORMS */

.platforms-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
}

.platforms-section h1{
  font-size: 60px;
  font-weight: bold;
}

.platforms-section p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.card-platforms{
  margin-top: 70px;
  width: 150px;
  display: inline-table;
  padding: 20px 29px;
  text-align: center;
  margin-bottom: 80px;
}

.platforms-logo{
  height: 150px;
  width: 150px;
}

.card-platforms h2{
  font-size: 18px;
}

.card-platforms:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.card-platforms img{
  border-radius: 75px;
}

@media (max-width: 640px){
  .platforms p{
    width: 80vw;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
  .platforms h1{
    width: 80vw;
    font-size: 40px;
  }
  .platforms ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .card-platforms{
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* STREAMING */
.streamers-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
}

.streamers-section ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.streamers-section h1{
  padding-top: 60px;
}

.card-streamers{
  display: inline-table;
  width: 250px;
  text-align: center;
}
.twitchstreamers{
  height: 200px;
  border-radius: 100px;
}

.card-streamers h2{
  display: flex;
  justify-content: center;
}

.card-streamers:hover{
  transform: scale(1.2);
  transition: 0.2s;
}

.streams{
  display: flex;
  margin-bottom: 150px;
}

.streamers-section p{
  font-size: 25px;
  line-height: 40px;
  text-align: left;
}
.twitchlogo{
  height: 30px;
  padding: 0;
  margin: 0;
}

@media(max-width: 640px){
  .card-streamers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    width: auto;
  }
  .card-streamers h2{
    margin: 0;
    padding: 0;
  }
  .streamers h1{
    width: 80vw;
    font-size: 40px;
  }
  .streamers p{
    width: 80vw;
  }
  .streamers ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  .url{
    padding: 20px;
  }

  .streamers-right{
    margin: 0;
    padding: 0;
    width: 80vw;
  }
  .streamers-left p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
  .twitchstreamers{
    margin: 0;
    padding: 0;
  }
  .twitchstreamers{
    height: 150px;
  }
  .streamers-whole{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 80vw;
  }
  .card-streamers {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .streamers {
    margin-bottom: 60px;
  }
}

/* YOUTUBE */

.youtube-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.youtube-video{
  margin: 30px;
  border: 1px solid darkred;
}

/* CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS */
.contact-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
}

.contact-section h1{
  font-size: 60px;
  font-weight: bold;
}

.contact-section p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.contact-cards{
  display: flex;
  flex-grow: row;
  justify-content: space-evenly;
}

.card-contact{
  display: flex;
  justify-content: center;
}

.discordlogo{
  height: 20px;
  border-radius: 10px;
}

.card {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
}

.card:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.card img{
  border-radius: 75px;
}

.card p{
  font-size: 25px;
}

@media (max-width: 640px){
  .contact h1{
    padding: 0;
    margin: 20px 0px;
    font-size: 40px;
  }
  .contact p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
  .contact-cards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .card{
    transform: scale(0.8);
    margin: 0;
    padding: 0;
  }
  .card img{
    transform: scale(0.7);
  }
  .card h2{
    font-size: 30px;
    padding: 5px;
    margin: 0;
  }
  .card h3{
    font-size: 20px;
  }
}

.footer{
  display: block;
  bottom: 0px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}