*{
  color: white;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0vw;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

.navbar{
  display: flex;
  flex-grow: row;
  justify-content: center;
  margin-top: 25px;
  z-index: 999;
}

@media (max-width: 600px){
  .navbar li{
    display: block;
    position: relative;
    flex-wrap: wrap;
    width: 80vw;
  }
}

@media (max-width: 600px){
  .navbar li:not(:first-child) {display: none;}
  .navbar li.icon {
    float: right;
    display: block;
  }
}

.navbar ul{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 66px;
  box-shadow: 0px 0px 100px black;
}

.navbar a{
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 40px;
  padding: 15px 25px;
}

.navbar a:hover{
  background-color: darkred;
  color: white;
  transform: scale(1.1);
  transition: 0.2s ease-out;
  border-radius: 10px;
}

.navbar ul li{
  list-style: none;
  font-weight: bold;
  margin-top: 10px;
}

.hero-section{
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.hero-section-left{
  margin-right: 25px;
}

@media (max-width: 600px) { 
  .hero-section-left{
    width: 80vw;
  }
  .hero-section-left h1{
    font-size: 50px;
  }
} 

.hero-section-left h1{
  font-size: 120px;
  color: white;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-section-left p{
  color: white;
  font-size: 27px;
  text-align: justify;
  line-height: 60px;
  width: auto;
}

.join-button{
  padding: 25px 50px;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  background-color: darkred;
  color: white;
  cursor: pointer;
  margin-top: 50px;
}

.url{
  text-decoration: none;
}

.join-button:hover{
  transform: scale(1.2);
  transition: 0.5s;
  background-color: red;
}

.hero-section-right{
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.hero-section-right img{
  border-radius: 15px;
  height: 30vw;
  width: 100%;
  border: none;
}

@media (max-width: 600px) { .hero-section-right{display: none;}} 

.about{
  margin-bottom: 80px;
  padding-top: 25px;
}

@media (max-width: 600px) {
  .about p{
    width: auto;
  }
}

.pictures{
  display: flex;
  flex-grow: row;
  justify-content: space-between;
}

.about img{
  height: 12vw;
  border-radius: 20px;
}

@media (max-width: 600px) { .pictures {display: none}}

.about h1{
  padding-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

.about p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.raiding{
  display: flex;
  margin-bottom: 120px;
}

@media (max-width: 600px) {
  .raiding
  {
    display: flex; 
    flex-wrap: wrap;
    width: 80vw;
  }
  .raiding p{
    width: auto;
  }
}

.raiding h1{
  padding-top: 60px;
}

.raid-days{
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 170px;
  text-align: center;
}

@media (max-width: 600px){
  .raid-days{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 80vw;
  }
  .raid-days div{
    width: 80vw;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .raid-days h2, h3, p{
    margin: 0;
    padding: 0;
  }
}

.raid-days div{
  margin: 15px;
  font-size: 25px;
  border: 2px solid darkred;
  border-radius: 10px;
  padding: 10px;
}

.raid-days div p{
  font-size: 20px;
  text-align: center;
}

h1{
  font-size: 60px;
  font-weight: bold;
}

.raiding p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.recruitment{
  padding-top: 15px;
  margin-bottom: 100px;
}

@media (max-width: 600px){
  .recruitment p{
    width: auto;
  }
}

.recruitment h1{
  padding-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

.recruitment p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.platforms{
  padding-top: 15px;
}

@media (max-width: 600px){
  .platforms p{
    width: auto;
  }
}

.platforms h1{
  padding-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

.platforms p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.card-platforms{
  width: 150px;
  display: inline-table;
  padding: 20px 29px;
  text-align: center;
  margin-bottom: 80px;
}

.platforms-logo{
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 100px darkred;
}

.card-platforms h2{
  font-size: 18px;
}

.card-platforms:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.card-platforms:hover h2{
  color: darkred;
}

.card-platforms img{
  border-radius: 75px;
}

.streamers h1{
  padding-top: 60px;
}

.card-streamers{
  display: inline-table;
  padding-left: 30px;
  width: 150px;
  text-align: center;
}

.twitchstreamers{
  height: 200px;
  border-radius: 100px;
}

.card-streamers h2{
  display: flex;
  justify-content: center;
}

.card-streamers:hover{
  transform: scale(1.2);
  transition: 0.2s;
}

.card-streamers:hover h2{
  color: red;
}

.streams{
  display: flex;
  margin-bottom: 150px;
}

@media (max-width: 600px){
  .streamers p, h1{
    width: 80vw;
  }
  .streamers h1{
    font-size: 50px;
  }
  .streamers ul{
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-streamers{
    padding: 0;
  }
}

.streamers{
  padding-top: 15px;
}

@media (max-width: 600px){
  .streamers, p{
    width: 80vw;
  }
  .streamers-whole{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.streamers-left{
  display: table;
  width: 40vw;
}

.video{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.youtube-video{
  padding: 20px 30px;
}

@media (max-width: 600px){
  .youtube-videos, .youtube-video, .video{
    padding: 0;
    margin: 0;
  }
  .youtube-video{
    transform: scale(0.7);
    margin: -50px;
  }
}

.youtube-videos h2{
  font-size: 33px;
}

.streamers-left p{
  font-size: 25px;
  line-height: 40px;
  text-align: justify;
}

.streamers-whole{
  display: flex;
  flex-grow: row;
  margin-bottom: 50px;
}

.streamers-right{
  margin-left: 120px;
}

.twitchlogo{
  height: 30px;
  padding: 0;
  margin: 0;
}

.contact h1{
  padding-top: 120px;
  font-size: 60px;
  font-weight: bold;
}

@media (max-width: 600px){
  .contact h1{
    padding-top: 50px;
  }
}

.contact p{
  font-size: 25px;
  text-align: justify;
  line-height: 40px;
}

.contact-cards{
  display: flex;
  flex-grow: row;
  justify-content: space-evenly;
}

.card-contact{
  display: flex;
  justify-content: center;
}

.discordlogo{
  height: 20px;
  border-radius: 10px;
}

.card {
  display: inline-block;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  max-width: 250px;
}

.card:hover{
  border-color: darkred;
  box-shadow: 0px 0px 0px darkred;
  transform: scale(1.1);
  transition: 0.2s;
}

.recruitment .join-button{
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px){
  .recruitment .join-button{
    width: 100%;
    margin-top: 80px;
  }
}

.hero-section-left .join-button{
  margin-left: 11vw;
}

.card:hover p{
  color: red;
}

.card img{
  border-radius: 75px;
}

.card p{
  font-size: 25px;
}

.footer{
  display: block;
  bottom: 0px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}